+b.helper
	+e.description
		+e.H2.title(data-animate="fade-down" data-animate-delay="0.4")
			!=data.helper.title
		+e.P.text(data-animate="fade-down" data-animate-delay="0.6")
			!=data.helper.text
	+e.FORM.form#helperform(data-animate="fade-down" data-animate-delay="0.8" method="POST" action="/contact.php")
		each input in data.helper.form.input
			+e.LABEL.label(class=`--${input.name}` for=input.name)
				+e.INPUT.input(class=`--${input.name}` id=input.name data-name=input.name name=input.name placeholder=input.placeholder)
		+e.LABEL.accept(for="accept")
			+e.INPUT#accept(type="checkbox" name="accept" checked)
			+e.SPAN.accept-checkbox
			!=data.helper.form.accept
		+e.button
			+button(data.helper.form.button, 'button', 'helper')
